*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#section-a{
    background: url('../images/home-bg.jpeg');
    background-position: center center;
    /* background-position-x: center;
    background-position-y:center; */
    height: 100vh;
    width: 100%;
}